PORT=5000
JWT_SECRET=reelspro-super-secret-jwt-key-2024
API_KEY_SECRET=reelspro-aes-encryption-key-32ch

# AI Provider Keys (kam az kam ek daalo)
GROQ_API_KEY=your_groq_key_here
GEMINI_API_KEY=your_gemini_key_here

# Redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379

# App URL
BASE_URL=http://localhost:5000
